<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jereksel.serverstatus" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/server"
        android:logo="@drawable/server"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddEditServer"
            android:label="@string/new_connection" >
        </activity>
        <activity
            android:name=".ServerStatus"
            android:label="@string/app_name"
            android:icon="@drawable/network_server_icon"
            android:logo="@drawable/network_server_icon"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
